# FE model data
*.dat

# Temporary and configuration files
*.cfg
*.log
*.opt

# Binary storage and solver files
*.elb
*.sky
*.sks
*.exc
*.ern
*.rst
*.fro
*.ech
*.eli
*.rex
*.xst
*.xrn
*.xrs
*.xxc
*.elj
*.bfg
*.ovl
*.ctr
*.add
*.v00
*.a00
*.m00
*.fps
*.xof
*.egv
*.rex
*.uro
*.s00
*.s01
*.s02
*.s03
*.s04
*.s05
*.s06
*.s07
*.s08
*.s09
*.s10
*.s11
*.s12
*.s13
*.s14
*.s15
*.s16
*.s17
*.L02
*.L04

# ASCII output and echo files
*.dis
*.str
*.his
*.rcf
*.eda
*.lay
*.cdb
*.r00
*.dps
*.rps
*.psh
*.ppl
*.nal
*.rah
*.ths
*.eig

# Results and temporary files
*.aux
*.arl
*.msv

# Obsolete files
*.rea
*.new
*.bgc
*.tgc
